## Data Types

### https://www.youtube.com/watch?v=ppsCxnNm-JI&list=PLUaB-1hjhk8GHKfndKjyDMHPg_HlQ4vpK&index=3&ab_channel=AlexTheAnalyst

## Numeric data types

### Integers (int)

In [ ]:
# an integer data type is the number zero, a positive natural number or a negative integer with a minus sign

In [9]:
# simple example
type(12)

int

In [10]:
# regardless of whether negative or positive it's still an int
type(-12)

int

In [11]:
# adding int's together the result will also be an int
type(-12 + 100)

int

### Floats

In [ ]:
# a float data type represents a floating-point or decimal number

In [13]:
# when the number is no longer whole number but a decimal number it's data type is a 'float'
type(12 + 10.25)

float

### Complex (not often used, ignore for now)

In [ ]:
# a complex data type is a transformation data type that represents multiple data values in a single column position
# 'j' is the only str value that will work as that imaginary number

In [14]:
type(12 + 3j)

complex

## Boolean data types

In [ ]:
# booleans represent one of two values: true or false

In [16]:
# true needs to be written as 'True'
type(True)

bool

In [17]:
# false needs to be written as 'False'
type(False)

bool

In [18]:
# can be used with comparison operators
type(1 > 5)

bool

In [19]:
# output is a bool
1 > 5

False

In [20]:
# output is a bool
1 == 1

True

## Sequence data types

### Strings (str)

In [22]:
# A string is a data type used in programming, that is used to represent text rather than numbers 
# A string is a sequence of characters and can contain letters, numbers, symbols and even spaces
# Strings in python are surrounded by either single quotation marks, or double quotation marks
# 'hello' is the same as "hello"

In [23]:
# single quote
'Single Quote'

'Single Quote'

In [24]:
# double quote
"Double Quote"

'Double Quote'

In [27]:
# triple quote - note that the output will look strange so we can assign it to a variable in the next step
"""
The ice cream vanquished
my longing for sweets,
upon this diet I look away,
it no longer exists on this day.
"""

In [29]:
# assigning the str to the variable 'multiline'
multiline = """
The ice cream vanquished
my longing for sweets,
upon this diet I look away,
it no longer exists on this day.
"""

print(multiline)

The ice cream vanquished
my longing for sweets,
upon this diet I look away,
it no longer exists on this day.

In [30]:
# whenever we have a single quote within a str, we need to use double quotes or else it will error
"I've always wanted to eat a gallon of ice cream."

"I've always wanted to eat a gallon of ice cream."

In [32]:
# if you want to use double quotes within a str, we need to use triple quotes or else it will error
"""
I've always wanted to eat a gallon of ice cream.
"""

"\nI've always wanted to eat a gallon of ice cream.\n"

### Strings Indexes

In [44]:
# strings are indexed, the index starts at 0, so the first character will = 0 
# specifying the index position will return the characters within the range you specify
a = 'Hello World!'

print(a[:5])
print(a[1:5])
print(a[2:4])

# it doesn't have to be a range, can just be single position which starts from the beginning or the end
print(a[4])
print(a[-3])

Hello
ello
ll
o
l

### Multiplying & adding strings

In [48]:
# mutliplication of strings
a = 'Hello World!'
a * 3

'Hello World!Hello World!'

In [49]:
# addition of strings
a + a

'Hello World!Hello World!'

## Lists

In [ ]:
# lists are used to store multiple items in a single variable
# lists are one of 4 built-in data types in Python used to store collections of data, 
# the other 3 are Tuple, Set, and Dictionary, all with different qualities and usage
# you can have any data type within a list, int, str, additional lists etc

In [51]:
# creating a list we must use '[]'
# this code will create a list with 3 seperate values
# the comma's in the output confirm that they are seperate values

[1,2,3]

[1, 2, 3]

In [ ]:
# lists are indexed just like strings, taking the above example
# position 0 = 1
# position 1 = 2
# position 2 = 3

In [52]:
# creating a list with str values

['Cookie Dough','Strawberry','Chocolate']

['Cookie Dough', 'Strawberry', 'Chocolate']

In [54]:
# creating a list with different data types
# this example has a str, int, list & bool in a single list

['Vanilla', 3, ['Scoops','Spoon'],True]

['Vanilla', 3, ['Scoops', 'Spoon'], True]

### Editing lists

In [57]:
# lists are changeable, we can alter them once they've been created
ice_cream = ['Cookie Dough','Strawberry','Chocolate']

# appending an additional value to the list
ice_cream.append('Salted Caramel')

# viewing the output of the list
ice_cream

['Cookie Dough', 'Strawberry', 'Chocolate', 'Salted Caramel']

In [59]:
# viewing the index value within a list
ice_cream[0]

'Cookie Dough'

In [61]:
# changing the value within a list using indexing
ice_cream[0] = 'Butter Pecan'

ice_cream

['Butter Pecan', 'Strawberry', 'Chocolate', 'Salted Caramel']

In [68]:
# nested list is a list within a list

nest_list = ['Vanilla', 3, ['Scoops','Spoon'],True]

'Spoon'

In [66]:
# using index we can see the values within this list
nest_list[2]

['Scoops', 'Spoon']

In [73]:
# using multiple indexes we can see specific values within the nested list
# this can go on and on
nest_list[2][1]

'Spoon'

## Tuples

In [ ]:
# tuple's & lists are very similar, biggest difference between a tuple & a list is that a tupple is immutable
# it cannot be modified or changed after it's created
# typically people will use tuples when a value is never going to change, e.g. city name, country, location

In [76]:
# creating a list we must use '()'
# this code will create a tuple with 3 seperate values
# the comma's in the output confirm that they are seperate values

tuple_scoops = (1,2,3,2,1)

# confirming the data type
type(tuple_scoops)

tuple

In [77]:
# tuples are indexed like strings & lists

tuple_scoops[0]

1

In [78]:
# tuples cannot be edited once created, this wil result in an error

tuple_scoops.append(3)

AttributeError: 'tuple' object has no attribute 'append'

## Sets

In [ ]:
# a set is somewhat similar to a list or a tuple but they don't have any duplicate elements
# also the values within a set cannot be accessed using an index because it doesn't have an index because it's unordered

In [79]:
# creating a set we must use '{}'
# this code will create a set with 3 seperate values
# the comma's in the output confirm that they are seperate values

daily_pints = {1,2,3}

In [80]:
# verifying the type
type(daily_pints)

set

In [83]:
# viewing the values within a set
print(daily_pints)

# when printing an output for a set it will only return the unique values 
daily_pints_log = {1,2,31,2,3,4,1,2,5,6,3,2}

print(daily_pints_log)

{1, 2, 3}
{1, 2, 3, 4, 5, 6, 31}

#### Use case - converting a list or tuple to a set to obtain the unique values, then comparing that against another set

In [84]:
# creating another variable for comparison purposes

wifes_daily_pints_log = {1,4,2,5,6252,2,52352}

In [86]:
# combining these sets together using the '|' will show the unique values in each of the 2 sets
print(daily_pints_log | wifes_daily_pints_log)

{52352, 1, 2, 3, 4, 5, 6, 6252, 31}

In [87]:
# combining these sets together using the '&' will show the unique values that both sets contain
print(daily_pints_log & wifes_daily_pints_log)

{1, 2, 4, 5}

In [88]:
# combining these sets together using the '-' will show the values in the 'daily_pints_log', subtracting all the values that
# are the same in 'wifes_daily_pints_log' & leaving the unique values in 'daily_pints_log'
print(daily_pints_log - wifes_daily_pints_log)

{3, 6, 31}

In [89]:
# this can be reversed with the same logic applied
print(wifes_daily_pints_log - daily_pints_log)

{52352, 6252}

In [90]:
# combining these sets together using the '^' will show if a value is in one or the other but not in both
print(daily_pints_log ^ wifes_daily_pints_log)

{52352, 3, 6, 6252, 31}

## Dictionaries

In [ ]:
# within a data type we have a key/value pair, we have a key which indicates what that value is attributable to

In [92]:
# creating a set we must use '{}', within each comma sepearted value(s) we specific the key & value pair
# the comma's in the output confirm that they are seperate values
# the below adds a string, int & list to this dictionary

dict_cream ={'name': 'Alex Freberg', 'weekly intake': 5, 'favourite ice creams': ['MCC','Chocolate']}

In [93]:
# checking the type
type(dict_cream)

dict

In [94]:
# printing the output
print(dict_cream)

{'name': 'Alex Freberg', 'weekly intake': 5, 'favourite ice creams': ['MCC', 'Chocolate']}

In [95]:
# viewing the values within a dictionary
dict_cream.values()

dict_values(['Alex Freberg', 5, ['MCC', 'Chocolate']])

In [96]:
# viewing the keys within a dictionary
dict_cream.keys()

dict_keys(['name', 'weekly intake', 'favourite ice creams'])

In [97]:
# viewing the items within a dictionary
# items are the key/value pair within a dictionary
dict_cream.items()

dict_items([('name', 'Alex Freberg'), ('weekly intake', 5), ('favourite ice creams', ['MCC', 'Chocolate'])])

### Calling a dictionary is different, you must call it by the key

In [98]:
# calling by the 'name' key
dict_cream['name']

'Alex Freberg'

In [101]:
# updating information within a dictionary
dict_cream['name'] = 'Christine Freberg'
print(dict_cream)

{'name': 'Christine Freberg', 'weekly intake': 5, 'favourite ice creams': ['MCC', 'Chocolate']}

In [103]:
# updating multiple values in one expression
dict_cream.update({'name': 'Alex Freberg', 'weekly intake': 5, 'weight': 300})
print(dict_cream)

{'name': 'Alex Freberg', 'weekly intake': 5, 'favourite ice creams': ['MCC', 'Chocolate'], 'weight': 300}

In [104]:
# deleting values within a dictionary
del dict_cream['weight']

In [105]:
# viewing the output where the 'weight' key/value pair has been deleted
print(dict_cream)

{'name': 'Alex Freberg', 'weekly intake': 5, 'favourite ice creams': ['MCC', 'Chocolate']}