# Comparison, Logical, and Membership Operators

# Comparison Operators

In [ ]:
# == Equal
# != Not Equal
# > Greater than
# < Less than
# >= Greater than or equal to
# <= Less than or equal to

# can be used on ints or strings

In [1]:
# == Equal

10 == 10

True

In [3]:
# != Not Equal

'Vanilla' != 'Vanilla'

False

In [4]:
# > Greater than

50 > 5

True

In [5]:
# < Less than

10 < 8

False

In [6]:
# >= Greater than or equal to

10 >= 10

True

In [7]:
# <= Less than or equal to

8 <= 7

False

## Logical Operators

In [ ]:
# and -> Returns True if both statements are true
# or -> Returns True is one of the statements is true
# not -> Reverse the result, returns False if the result is true

In [9]:
# and -> Returns True if both statements are true

(70 > 50) and (50 > 10)

True

In [11]:
# or -> Returns True is one of the statements is true

# Vanilla is greater than chocolate because 'V' is higher than 'C' in the alphabet

('Vanilla' > 'Chocolate') or (50 > 10)

True

In [12]:
# not -> Reverse the result, returns False if the result is true

not(50 > 10)

False

## Membership Operators

In [ ]:
# in -> Returns True if a sequence with the specified value is present in the object
# not in -> Returns True is a sequence with the specified value is not present in the object

In [13]:
# in -> Returns True if a sequence with the specified value is present in the object

ice_cream = 'I love chocolate ice cream'

'love' in ice_cream

True

In [14]:
'love' in 'I love chocolate ice cream'

True

In [17]:
scoops = [1,2,3,4,5]

4 in scoops

True

In [20]:
# not in -> Returns True is a sequence with the specified value is not present in the object

scoops = [1,2,3,4,5]
wanted_scoops = 8
wanted_scoops not in scoops

True