# Converting Data Types

In [2]:
# defining the variable num_int as an integer
num_int = 7

# validating the data type of the variable num_int
type(num_int)

int

In [3]:
# defining the variable num_int as an string
num_str = '7'

# validating the data type of the variable num_str
type(num_str)

str

In [4]:
# converting the variable num_str from a string to an integer

num_str_conv = int(num_str)

In [6]:
# now we can add num_int which was already and integer & the converted num_str_conv together

num_sum = num_int + num_str_conv

In [7]:
# testing the results

print(num_sum)

14

## Converting Lists, Tuples, Sets

In [9]:
# create a list with 3 integer values
list_type = [1,2,3]

# validating the data type of the variable list_type
type(list_type)

[1, 2, 3]

In [13]:
# converting the list_type variable from a list to a tuple

tuple_list_type = tuple(list_type)

In [14]:
# validating the data type of the variable tuple_list_type

type(tuple_list_type)

tuple

In [15]:
# creating a new variable list

list_type_2 = [1,2,3,3,2,1,2,3,2,1]

In [21]:
# if you try to convert to a set, a set will take the unique values within the list & only return those values

set_type = set(list_type_2)

set_type

{1, 2, 3}

In [19]:
type(set_type)

set

## Converting Dictionaries

In [22]:
# creating a dictionary & validating the data type

dict_type = {'name': 'Alex', 'age': 28, 'hair': 'N/A'}

type(dict_type)

dict

In [23]:
# within a data type we have a key/value pair, we have a key which indicates what that value is attributable to

dict_type.items()

dict_items([('name', 'Alex'), ('age', 28), ('hair', 'N/A')])

In [24]:
# will output the values within the dictionary dict_type

dict_type.values()

dict_values(['Alex', 28, 'N/A'])

In [25]:
# will output the keys within the dictionary dict_type

dict_type.keys()

dict_keys(['name', 'age', 'hair'])

In [27]:
# converting the keys within a dictionary to a list

list(dict_type.keys())

list

In [31]:
# validating the data type of the list

type(list(dict_type.keys()))

list

In [32]:
# converting the values within a dictionary to a list

list(dict_type.values())

['Alex', 28, 'N/A']

In [33]:
# validating the data type of the list

type(list(dict_type.values()))

list

## Other Examples

In [36]:
# converting a string into a set, the resulting output will only show the unqiue values within the set

long_str = 'I like to party'

set(long_str)

{' ', 'I', 'a', 'e', 'i', 'k', 'l', 'o', 'p', 'r', 't', 'y'}