# Variables in Python

In [3]:
# https://www.youtube.com/watch?v=pHOH7UfOhbE&list=PLUaB-1hjhk8GHKfndKjyDMHPg_HlQ4vpK&index=2&ab_channel=AlexTheAnalyst

## Assigning a value to a variable

In [5]:
# 'x' is the variable
# '22' is the value
x = 22
print(x)

22

## Validating the data type of a variable

In [7]:
# determining the data type of a variable
# python identified that 'x' is an integer 
type(x)

int

In [9]:
# creating a new variable & assigning a string value, then checking that python correctly identifies it as a string
y = 'Mint Chocolate Chip'
print(y)
type(y)

Mint Chocolate Chip

str

## Overwriting variable values

In [10]:
# in this example the previous value for 'y' is overwritten
y = 'Chocolate'
print(y)

Chocolate

## Variable case sensitivity

In [11]:
Y = 'Raspberry Ripple'

print(y)
print(Y)

Chocolate
Raspberry Ripple

## Assigning multiple values to multiple variables

In [20]:
# 'x' will be assigned 'Chocolate'
# 'y' will be assigned 'Vanilla'
# 'z' will be assigned 'Rocky Road'
x,y,z = 'Chocolate','Vanilla','Rocky Road'

print(x)
print(y)
print(z)

Chocolate
Vanilla
Rocky Road

## Assigning multiple variables to one value

In [21]:
# assigning multiple variables to one value
x = y = z = 'Root Beer Float'
print(x)
print(y)
print(z)

Root Beer Float
Root Beer Float
Root Beer Float

## Creating a list

In [23]:
# creating a list
# within the variable 'ice_cream' we have 3 values
ice_cream = ['Chocolate','Vanilla','Rocky Road']
print(ice_cream)

['Chocolate', 'Vanilla', 'Rocky Road']

## Assigning values from a list to variables

In [25]:
# assigning values from a list to variables
x,y,z = ice_cream
print(x)
print(y)
print(z)

Chocolate
Vanilla
Rocky Road

## Camel case

In [26]:
# camel case
# test variable case

testVariableCase = 'Vanilla Swirl'
print(testVariableCase)

Vanilla Swirl

## Pascal case

In [27]:
# pascal case
# test variable case

TestVariableCase = 'Chocolate Swirl'
print(TestVariableCase)

Chocolate Swirl

## Snake case (USE THIS!)

In [28]:
# snake case
# test variable case

test_variable_case = 'Banana Swirl'
print(test_variable_case)

Banana Swirl

## Concatenating values within in a variable

In [39]:
# concatenating a string to string within a variable
x = 'Ice Cream is my favorite' + '.'
print(x)

# adding int's together within a variable
z = 3 + 2
print(z)

Ice Cream is my favorite.
5

## Concatenating multiple values within a 'print' statement

In [36]:
# printing several string values in one 'print' statement
x = 'Ice Cream'
y = ' is'
z = ' my favourite.'

print(x+y+z)

Ice Cream is my favourite.

In [38]:
# printing the output of a int calculation in one 'print' statement
x = 1
y = 2
z = 3

print(x+y+z)

6

In [41]:
# cannot add a string & int together within a variable
y = 'Ice Cream is my favourite' + 2
print(y)

TypeError: can only concatenate str (not "int") to str

In [42]:
# can however combine a string & int within a print statement by seperating both values
x = 'Ice Cream'
y = 2

print(x,y)

Ice Cream 2